body {
    line-height: 1.5;
}

h1 {
    margin:  0;
    margin-bottom: 1rem;
}

.core-title {
    margin-top: 2rem;
}

.switch {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    gap: 0.25rem;
}

.switch > button {
    background: none;
    outline: none;
    border: none;
    cursor: pointer;
    border: 2px solid purple;
    border-radius: 5px;
    padding: 0.3rem;
}

.switch > button.active {
    background-color: purple;
    color: white;
}

.title-center {
    text-align: center;
    font-size: 32px;
}

.text-center {
    text-align: center;
    font-size: 18px;
}

.employee-section > form {
    display: flex;
    flex-direction: row;
    gap: 1%;
    justify-content: center;
}

.form button, .quick-actions button{
    outline: none;
    border: none;
    cursor: pointer;
    border: 2px solid purple;
    background-color: purple;
    color: white;
    width: 100px;
    border-radius: 5px;
    padding: 0.3rem;
}

.quick-actions button {
    width: 125px;
}

.form-control input[type=text] {
    height: 4vh;
    border: 1px solid black;
    border-radius: 2px;
    padding: 5px;
}

.form-control input[type=text]:focus {
    outline: none;
}

.quick-actions {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.employees {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

@media (min-width: 360px) and (max-width:768px) {
    .employee-section {
        min-width: 200px;
    }

    .employees ul {
        width: 50%;
    }
}

@media (min-width: 769px) and (max-width: 860px) {
    .employee-section {
        min-width: 750px;
    }

    .employees ul {
        width: 25%;
    }

    .form-control input[type=text] {
        height: 2.5vh;
    }
} 

@media (min-width:1080px) {
    .employees {
        min-width: 900px;
    }

    .employees ul {
        width: 50%;
    }

    .employee-section {
        margin: auto;
        width: 50%;
        padding: 10px;
    }
    
}

.employees ul {
    padding: 0;
}