body {
    line-height: 1.5;
}

h1 {
    margin:  0;
    margin-bottom: 1rem;
}

.core-title {
    margin-top: 2rem;
}

.switch {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    gap: 0.25rem;
}

.switch-outline {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 5px;
    background-color: rgb(250, 229, 250);
    padding: 7px;
    border-radius: 20px;
}

.switch-outline > button {
    background: none;
    outline: none;
    border: none;
    cursor: pointer;
    border-radius: 15px;
    padding: 0.4rem;
}

.en {
    padding: 0.45rem !important;
}

.switch-outline > button.active {
    background-color: purple;
    transition: all 0.5s ease-in-out;
    color: white;
}

.title-center {
    text-align: center;
    font-size: 32px;
}

.text-center {
    text-align: center;
    font-size: 18px;
}

.employee-section > form {
    display: flex;
    flex-direction: column;
    gap: 1%;
    align-items: center;
    width: 450px;
}

.form button, .quick-actions button{
    outline: none;
    border: none;
    cursor: pointer;
    border: 2px solid purple;
    background-color: purple;
    color: white;
    width: 100px;
    border-radius: 5px;
    padding: 0.3rem;
}

.quick-actions button {
    width: 125px;
}

.form button {
    padding: 0.65rem;
}

.form-control {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    align-items: center;
}

.form-control input[type=text] {
    height: 4vh;
    border: 1px solid black;
    border-radius: 2px;
    padding: 5px;
}

.form-control input[type=text]:focus {
    outline: none;
}

.quick-actions {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.employee-section {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.employees {
    min-width: 350px;
    max-width: 400px;
}

.employees ul li {
    white-space: wrap;
    padding-bottom: 0.5rem;
}

.error-text {
    color: red;
    font-size: 14px;
    padding-top: 5px;
}

.back-btn {
    width: 24px;
    height: 24px;
    cursor: pointer;
}